@tailwind base;
@tailwind components;
@tailwind utilities;




* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #b1b4ee;
}

li {
  list-style: none;
}


@layer components {
  .base-outer {
    @apply outline bg-slate-100 rounded-md outline-slate-300
  }
  .details-list details{
    @apply mx-6
  }
  
  .details-list details summary{
    list-style: none;
    @apply cursor-pointer
  }
  
  .issue-list {
    @apply bg-white
  }
  
  .issue-list ul{
    @apply w-full
  }
  
  .issue-list li {
    @apply border-b p-4
  }

  .label-item > div {
    @apply w-3/12 flex justify-between
  }

  .label-item > div:last-child {
    @apply justify-end
  }
  
}

#label-wrapper, #issue-wrapper {
  min-width: 960px;
}
